* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.main-container {
    display: grid;

    /* justify-content: center;
    align-items: center; */

    margin: 0 auto;
    padding: 40px 0px 20px 0px;

}

.nav-bar-list {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.nav-bar-item {
    float: left;

}

.nav-bar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar-link:hover {
    background-color: #111;
}

.header {
    /* width:100%;
    justify-content: center;
    align-items: center; */
    text-align: center;
}

.logo {
    margin:20px;
    width: 500px;
    height: 400px;
}

/* .header {
    grid-area: "header-Area";
}

.main {
    grid-area: "main-Area";
}

.footer {
    grid-area: "footer-Area";
} */