* {
    box-sizing: border-box;
}

div {
    border: 1px solid black;
}

.main-container {
    display: grid;
    grid-template-areas: 'header-Area header-Area header-Area' 'main-Area main-Area main-Area' 'footer-Area footer-Area footer-Area';
}

.header {
    grid-area: "header-Area";
}

.main {
    grid-area: "main-Area";
}

.footer {
    grid-area: "footer-Area";
}