* {
    box-sizing: border-box;
}

body {
    background-color: #000000
}

.main-container {
    display: grid;

}

.navbar {
    background-color: #000000;
}

.navbar-list {
    list-style-type: none;
    overflow: hidden;

    background-color: #000000;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;

}

.navbar-item-type1 {
    float: left;
}

.navbar-item-type2 {
    float: right;

}

.navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-link:hover {
    background-color: #111;
}

.header {
    /* width:100%;
    justify-content: center;
    align-items: center; */
    text-align: center;
}

.logo {
    margin: 20px;
    width: 600px;
    height: 500px;
}

/* .header {
    grid-area: "header-Area";
}

.main {
    grid-area: "main-Area";
}

.footer {
    grid-area: "footer-Area";
} */